.item-modal__tags{
    width: 100% !important;
}
.item-model__tags-container{
    margin: 2px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.item-model__suggestions{
    margin-top: 10px;
}
.item-model__suggestions ul {
    list-style-type: none;
    padding: 0;
}