.custom-field{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr
}
.custom-field div{
    display: flex;
    align-items: center;
}

.custom-field__btn-container {
    justify-content: flex-end;
}
.custom-field__type {
    justify-content: center;
}